@tailwind base;
@tailwind components;
@tailwind utilities;


 
    

.loader {
  width: 65px;
  display: grid;
  --mask: 
    radial-gradient(12px at left 15px top 50%, #0000 95%, #000),
    radial-gradient(12px at right 15px top 50%, #0000 95%, #000);
  -webkit-mask: var(--mask);
          mask: var(--mask);
  -webkit-mask-composite: source-in;
          mask-composite: intersect;
  animation: l1 1s infinite alternate;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  height: 30px;
  aspect-ratio: 1;
  background: #fff;
  border-radius: 50%;
}
.loader:after {
  margin-left: auto;
}
@keyframes l1 {
  to {
    width: 40px;
  }
}
  




.progress {
   width: 180px;
   height: 24.6px;
   border-radius: 22.4px;
   color: #171720;
   border: 2.2px solid;
   position: relative;
}

.progress::before {
   content: "";
   position: absolute;
   margin: 2.2px;
   inset: 0 100% 0 0;
   border-radius: inherit;
   background: currentColor;
   animation: progress-pf82op 2s infinite;
}

@keyframes progress-pf82op {
   100% {
      inset: 0;
   }
}
